<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8"/>
 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>


<link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
<link href="/boot/css/bootstrap.min.css" rel="stylesheet"/>
 

<style>

body{
background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(5, 5, 5, 0.72)), url("/images/branch1.jpg");
background-size: cover;
}

</style>

</head>
<body>

<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/boot/js/bootstrap.min.js"></script>

<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
		  <div class="col-md-6  col-md-offset-3">
		  
		  <div class = "panel panel-default" style="margin-left: 100px;">
        
         <div class = "panel-heading" style="background-color: blue; color: white;">
             <h1>CONTRACT FORM</h1>
         </div>
         <div class = "panel-body">
 <div id="register">
							
<form class="form-horizontal" id="r_form">
<div class="form-group ">
 <label class="col-md-4 control-label">Starting Date</label>  
 <div class="col-md-6">                                         
<input type="date" name="Name" class="form-control" id="r_start" placeholder="" required="required"/>
  </div>                                              
</div>
                                       
 <div class="form-group ">
<label class="col-md-4 control-label">Closing Date</label>
<div class="col-md-6">
<input type="Date"  class="form-control" id="r_closing" placeholder="" required="required"/>
</div>
</div>
<div class="form-group ">
<label class="col-md-4 control-label">Quantity</label>
<div class="col-md-6">
<input type="text"  class="form-control" id="r_quantity" placeholder="" required="required"/>
</div>
</div>     
<div class="form-group ">
<label class="col-md-4 control-label">Amount</label>
<div class="col-md-6">
<input type="text"  class="form-control" id="r_amount" placeholder="" required="required"/>
</div>
</div>
<!-- <div class="form-group ">
<label class="col-md-4 control-label">Confirm Service</label>
<div class="col-md-6">
<input type="text" name="r_service" class="form-control" id="r_confirmservice" placeholder="confirmservice" required="required"/>
</div>
</div> -->
<!-- <div class="form-group ">
<label class="col-md-4 control-label">Confirm Payment</label>
<div class="col-md-6">
<input type="text" name="r_payment" class="form-control" id="r_made" placeholder="confirmpayment" required="required"/>
</div>
</div> -->
 <div class="form-group ">
<label class="col-md-4 control-label">Payment Terms</label>
<div class="col-md-6">
<select class="form-control" required="required" id="r_terms" name="terms">
<option value="Twomonths">Twomonths</option>
<option value="Threemonths">Threemonths</option>
<option value="Fullpaid">Fullpaid</option>
</select>
</div>
</div>     

 <div class="col-md-3">
<div class="form-actions">
<input type="submit" id="r_save" class="btn btn-primary" value="submit">
                         
</div>
</div>
<div class="col-md-3">
<div class="form-actions">
<a href="" class="btn btn-danger pull-left">Cancel</a>
</div>
</div>

<div class="col-md-3">
<div class="form-actions">
<a href="" id="r_view" class="btn btn-primary">ViewList</a>

</div>
</div>
</form>
</div>
</div>      
</div>					
</div>
</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Alert/alert.js"></script>	
<script type="text/javascript" src="Alert/jquery.validate.js"></script>	
<script type="text/javascript" src="js/User.js"></script>		

<script>

function olhs_url() {
    var olhs_url = "http://localhost:4001";

    return olhs_url;
  }
  
   function myfunction(){
	var x=document.getElementById("r_password");
	
	if(x.type==="password"){
		x.type="text";
	}else{
		x.type="password";
	}
}


$(document).on('click','#r_save', function(){
	 
	 alert("saved");
	 alert($("#orderuuid").val());
	 
	 var startingdate= $('#r_start').val();
	 var closingdate= $('#r_closing').val();
	 var quantity= $('#r_quantity').val();
	 var amount= $('#r_amount').val();
	/*  var confirmservice= $('#r_service').val();
	 var confirmpayment= $('#r_payment').val();
	  */
	
	 var role ='user';
	 if($("#r_form").valid()){
		 $("#r_Save").addClass('disabled');
		 
		 var Contract={
				startingdate: startingdate,
				closingdate: closingdate,
				quantity: quantity,
				amount: amount,
				/* confirmservice: confirmservice,
				confirmpayment: confirmpayment, */
				
				
				 paymentterm: $('#r_terms').val(),
		       
		 }
	 
		 console.log(Contract);
		 $.ajax({ 
		        
				headers: {
			        
                  //'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
			        'doneBy':role
			    },
				url:olhs_url()+'/contracts/savecontract/'+ $("#orderuuid").val(),
		        type : "POST", // type of action POST || GET
		        dataType : 'json', // data type
		        data : JSON.stringify(Contract), // post data || get data
		        contentType: 'application/json',
		        success : function(result, textStatus, jQxhr) {
		        	$("#r_Save").removeClass('disabled');
		        	if(result.CODE==200){
		     
		        		$.alert(result.DESCRIPTION,
								{
									type : "success",
									position : [ 'top-right',
											[ -0.42, 0 ] ],
								}); 
			        	
			        	$("#r_form").each(
								function() {
									this.reset();
								});
			        	 
			        	}else{
			        		 $.alert(result.DESCRIPTION,
									{
										type : "danger",
										position : [ 'top-right',
												[ -0.42, 0 ] ],
									}); 
			        	}
		},
					error: function (xhr, resp, text) {
						console.log(xhr, resp, text);
						$("#r_Save").removeClass('disabled');
						$.alert('Error Occurred' + xhr.responseText, {
							type: "danger",
							position: ['top-right',
								[-0.42, 0]
							],
						});

					}
				});

		
			
		

}
	
});

/* var loca={};
$(function(){
	   locator(); 
})

 function  locator(){
			   $.ajax({
				   type:"GET",
				   url:"http://localhost:4001/locationn/locations",
				   success:function(resurt){
					   console.log(resurt);
					   loca=resurt;
					   console.log(loca);
					   ViewProvince();
				   },
				   error:function(){
					   
				   }
			   })
		   }
function ViewProvince(){
	   $.each(loca.provinces, function(i,d){
		   $('#r_province').append($('<option>', {
			   	value: d.id,
			   	text: d.name
		   }));
	   })
}

$(document).on("change", "#r_province" ,function(){
	   
	   $.each(loca.districts, function(i,d){
		  
		   if(d.province.id==$("#r_province").val()){
			   $('#r_district').append($('<option>', {
				   value:d.id,
				   text:d.name
			   }));
		   }
	   })
}) */

</script>


		

</body>
</html>