<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
   <!--   <link href="/boot/css/bootstrap.min.css" rel="stylesheet"/> -->
</head>

<body>
    <!-- Left Panel -->

   
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                   
                    <div class="header-left">
                       
                        <div class="form-inline">
                            <form class="search-form" >
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                       
               
            </div>

        </header><!-- /header -->
        <!-- Header-->

        

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">DataTable</strong>
                              <input type="text" id="branchuuid" name="branchid" th:value=${branchuuid} hidden>
                                
                            </div>
                            <div class="card-body">
                                <table id="stable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>CUSTOMER</th>
                                            <th>Contract Status</th>
                                            <th>Actions</th>
                                       
                                        </tr>
                                    </thead>
                                    <tbody id="dtbody">
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
    <!-- <script src="https:/ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="Alert/alert.js"></script>	
	<script type="text/javascript" src="Alert/jquery.validate.js"></script>	
	<script type="text/javascript" src="js/User.js"></script>	
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="vendors/jszip/dist/jszip.min.js"></script>
    <script src="vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="assets/js/init-scripts/data-table/datatables-init.js"></script>
  
  
     
  <script>
        
   $(document).ready(function (){
        
           findAllContract(); 
     }); 
       
     function findAllContract(){
    	 
    	 var branchuuid=$('#branchuuid').val();
    	 var ruuid= $.parseJSON(sessionStorage.getItem('a_registrant')).uuid;
    	 var contract=[];  
		 var tables=$('#stable').DataTable().clear().draw(); 
		 
		 
		$.ajax({
			headers: {
		        
                'bfw_token': token(),
			        
			    },
			
		    type: "GET",
		    url: olhs_url()+'/contracts/all',
		    success:  function(result, textStatus, jQxhr) {
           console.log("codeee "+result.code)
		        	if(result.code===200){
		        	console.log(result.OBJECT);
		        	  $.each(result.OBJECT, function (i, br) {
		        		  if(br.order.registrar.uuid==ruuid){
		        			  contract.push(br);
		        		  }
		        	  })

		        	
		            $.each(contract, function (i, br) {
		            	/* if(br.order.solarenergy.branch.uuid==$('#branchuuid').val()){
		        			contract.push(br);
		        		} */
		        /* 	});
		              console.log(contract);
		              $.each(contract, function (i, br) { */
		              var tables=$('#stable').DataTable();
		            
		                var l='';
	                	l += " <ul class='icons-list' style='list-style: none'>";
						l += "<li class='dropdown'>"
						l += "  <a href='datatable_basic.htm#' class='dropdown-toggle' data-toggle='dropdown'><i class='fa fa-bars'></i></a>";
						l += " <ul class='dropdown-menu dropdown-menu-right'>";
						if(br.contractstatus=='Pending'){
	                     l+="<li><a data-toggle='tooltip'  title='Confirm by Customer' href='javascript:void(0)' class='confirmbycustomer' data-id='"+br.uuid +"'><i class='zmdi zmdi-block'></i>ApproveBycustomer</a></li>";
	                     
     
						}
						l+="<a href='"+olhs_url() +"/contract/" +br.uuid+"/report' target='blank'   class='label label-primary' data-toggle='tooltip'  title='Print Report'><i class='zmdi zmdi-print'></i> Print</a></li>";;
	                     l+= " </ul>";
						l+= " </li>";
						l+= " </ul>";   
						
		         
						
		            	tables.row.add(
		            	[
		            		br.order.solarenergy.branch.branchname,
		            		br.order.registrar.firstname, 
		            		br.contractstatus,
		            	 	
		            		l 

                             ]	
		            	
		            	).draw();

		         })
			 	
		             
		        } else {
		            console.log("fail get", result)
		        }
		    },
		    error: function () {
		        console.log("ERROR", e);
		    }
		})
        }
     
     
     $(document).on('click','.confirmbycustomer', function(){
    	 var uuid=$(this).data('id');
    	 alert(uuid);
    	 
    	 $(".confirmbycustomer").attr("href","contract_"+uuid);
    	 
    		 $.ajax({ 
    			        
    					headers: {
    				        
    	                  //'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
    				        
    				    },
    					url:olhs_url()+'/contracts/approvebycustomer/'+uuid,
    			        type : "PUT", // type of action POST || GET
    			        dataType : 'json', // data type
    			        data :{}, // post data || get data
    			        contentType: 'application/json',
    			        success : function(result, textStatus, jQxhr) {
    			        	$("#r_Save").removeClass('disabled');
    			        	if(result.CODE==200){
    			     
    			        		$.alert(result.DESCRIPTION,
    									{
    										type : "success",
    										position : [ 'top-right',
    												[ -0.42, 0 ] ],
    									}); 
    				        	
    				        	$("#r_form").each(
    									function() {
    										this.reset();
    									});
    				        	 
    				        	}else{

									alert("");
    				        	}
    				        		
    			        	

    							

    						},
    						error: function (xhr, resp, text) {
    							console.log(xhr, resp, text);
    							$("#r_Save").removeClass('disabled');
    							$.alert('Error Occurred' + xhr.responseText, {
    								type: "danger",
    								position: ['top-right',
    									[-0.42, 0]
    								],
    							});

    						}
    					});

    			
    				
    			

    	})
    		
    
    	
    	     
/*      $(document).on('click','.confirmbyseller', function(){
    	 var uuid=$(this).data('id');
    	 alert(uuid);
    	 
    		 $.ajax({ 
    			        
    					headers: {
    				        
    	                  //'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
    				        
    				    },
    					url:olhs_url()+'/contracts/approvebyseller/'+uuid,
    			        type : "PUT", // type of action POST || GET
    			        dataType : 'json', // data type
    			        data :{}, // post data || get data
    			        contentType: 'application/json',
    			        success : function(result, textStatus, jQxhr) {
    			        	$("#r_Save").removeClass('disabled');
    			        	if(result.CODE==200){
    			     
    			        		$.alert(result.DESCRIPTION,
    									{
    										type : "success",
    										position : [ 'top-right',
    												[ -0.42, 0 ] ],
    									}); 
    				        	
    				        	$("#r_form").each(
    									function() {
    										this.reset();
    									});
    				        	 
    				        	}else{

									alert("failed");
    				        	}
    				        		
    			        	

    							

    						},
    						error: function (xhr, resp, text) {
    							console.log(xhr, resp, text);
    							$("#r_Save").removeClass('disabled');
    							$.alert('Error Occurred' + xhr.responseText, {
    								type: "danger",
    								position: ['top-right',
    									[-0.42, 0]
    								],
    							});

    						}
    					});

    			
    				
    			

    	})
    		 */
    	
     

        </script>
          

</body>

</html>
