<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div data-th-replace="Link/Css :: myCss"></div>
    
</head>

<body>
<script type="text/javascript" src="js/main.js"></script>	
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <!-- Left Panel -->
 <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"/></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"/></a>
                 <ul>
                        <li th:if="${session.a_user!=null}"><a href="#" id='logeed_in_user_name' th:utext="${session.a_user.getFname()}">OLHS </a></li>
                        <li th:if="${session.a_user!=null}"><a href="#" id='logeed_in_user_name' th:utext="${session.a_user.getLname()}">OLHS </a></li>
                         <li th:if="${session.a_user!=null}"><span th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}" ><a style="color:white; text-align:center;" href="#" id='logeed_in_user_role' th:utext="${session.a_user.getRole()}">OLHS </a></span></li>

                    </ul>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/dashboard"><i class="zmdi zmdi-view-dashboard"></i><span class="list-label">Dashboard</span> </a>
                    </li>
                   <!--   <li th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}">
                <a href="/dashboard"><i class="zmdi zmdi-accounts"></i><span class="list-label">Registrants</span></a>
                <ul>
                    <li><a href="/user">REGISTRANTS</a></li>
                   
                </ul>
                </li> -->
                <!--  <li th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}">
                <a href="/dashboard"><i class="zmdi zmdi-map"></i><span class="list-label">LOCATIONS</span></a>
                <ul>
                    <li><a href="/province">PROVINCES</a></li>
                      <li><a href="/district">DISTRICTS</a></li>
                   
                </ul>
            </li> -->
                    <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
                    <!-- <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Home</a>
                     <ul class="sub-menu children dropdown-menu">
                    <li>SUPER ADMIN</li>
                      <li>ADMIN</li>
                   <li>CUSTOMER</li>
                   <li>SELLER</li>
                   <li>BRANCH</li>
                </ul>
                    </li> -->
                    
                    <li class="menu-item-has-children dropdown">
                  
                    
                        <a href="/seller"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Add Employee</span></a>
                  
                    </li>
                    <li class="menu-item-has-children dropdown">
                  
                    
                        <a href="/branch"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Create Branch</span></a>
                  
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li>
                    <!-- <li class="menu-item-has-children dropdown">
                    
                    
                     
                        <a href="/send"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Making Order</span></a>
                       
                    </li> -->
                    <li class="menu-item-has-children dropdown">
                        <a href="/order"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"><i class="menu-icon fa fa-table"></i>View Products</span></a>
                        
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="contcus"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Assign Contracts</span></a>
                        
                    </li>
                    <!-- <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Payment</span></a>
                        
                    </li> -->
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user') || session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Report</span></a>
                        
                    </li>

                   <!--  <h3 class="menu-title">Icons</h3> --><!-- /.menu-title -->

                    <!-- <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        
                    </li> -->
                    <!-- <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li> -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

       <!-- /header -->
        <div data-th-replace="Layout/Navbar :: myNavbar"></div>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
           
        </div>

       
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    
    
    


    <div data-th-replace="/Link/Script :: myScript"></div>

</body>

</html>
