<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
<link rel="stylesheet" type="text/css" href="/assets/css/Newcss.css">
</head>
<body>
<header>
<div class="site-content">
                       
<nav>
<!-- <a class="Project">About Solar</a> -->
<a class="nav-item">HOME</a>
<a class="nav-item">SERVICES</a>
<a class="nav-item">PRODUCTS</a>
<a class="nav-item">CONTRACT</a>
<a class="nav-item">PAYMENT</a>
</nav>
 <div class="container">
 <div class="content">
 <h2>PROJECT</h2>
 <h1>ONLINE DELIVERY OF SOLAR ENERGY</h1>
 
<!--  <button type="button" >SUBSCRIBE</button> -->

<a href="/loginn"  class="btn btn-primary">SIGN UP</a>

 </div>
</div> 
<!-- </div> -->
</div>

</header>
</body>
</html>