<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
 <link href="/boot/css/bootstrap.min.css" rel="stylesheet"/>

<title>Insert title here</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<style type="text/css">
body{
background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(5, 5, 5, 0.72)), url("/images/solar7.jpg");
background-size: cover;

}
#form{
background-position: center;
}

</style>



</head>
<body>
<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="/boot/js/bootstrap.min.js"></script>
 
 <div  style='width:130%;  margin:200px auto ; background-position: center;'>
        <div class="col-md-7 col-md-offset-1">
    <div class = "panel panel-default">
         <div class = "panel-heading">
         
             <h1>Login Form</h1>
         </div>
         <div class = "panel-body" >
  
<form id="l_form" required="required" img src="images/picture.jpg" height="100px">

<div class="login-box"  >



<div class="raw">                       
  <div class="col-md-8 col-md-offset-3 ">    

<div class="raw">
<div class="col-md-8">
<div class="form-group form-group-lg ">
<label class="col-md-8 control-label "><h2>Username</h2></label>
<div class=" col-md-12">
<input type=text placeholder="username" class="form-control" name="username" id="r_username" required="required"/>                                                
</div>
</div>
</div>
</div>
                                       

<div class="raw">
<div class="col-md-8">
<div class="form-group form-group-lg  ">
<label class="col-md-8 control-label"><h2>Password</h2></label>
<div class="col-md-12">
<input type="password" class="form-control" placeholder="passsword" name="password" id="r_password" required="required"/>
<input type="hidden" name="applicationName" id="application" value="OLHS" hidden=""/>
</div>
</div>
</div>
 </div>                     
 <div style="width:1000px; margin: 50px; font-size: 20px;">                       
 <div class="col-md-8  .col-md-offset-3"> 
 <div class="form-group" >
 <div class="col-md-12"></br>
 <div class="form-actions">
<input style="width:200px ; font-size: 20px;"  class="btn btn-primary btn-lg" type="submit"  value="Login" /></br>
</div>
</div>
</div>
</div>
</div></br>
<div style="font-size: 18px;">                       
 <div class="col-md-10 col-md-offset-1" >  
  <div class="col-md-10">
<p><a href="/save">REGISTER NEW ACCOUNT<span></span></a></p>

</div> 
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>

</div>
</div>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/User.js"></script>
<script type="text/javascript" src="Alert/alert.js"></script>
<script type="text/javascript" src="Alert/jquery.validate.js"></script>
<script type="text/javascript" src="js/SerializeToJSON.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>