<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div data-th-replace="Link/Css :: myCss"></div>
    
</head>

<body>
<script type="text/javascript" src="js/main.js"></script>	
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <!-- Left Panel -->
 <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"/></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"/></a>
                 <ul>
                        <li th:if="${session.a_user!=null}"><a href="#" id='logeed_in_user_name' th:utext="${session.a_user.getFname()}">OLHS </a></li>
                        <li th:if="${session.a_user!=null}"><a href="#" id='logeed_in_user_name' th:utext="${session.a_user.getLname()}">OLHS </a></li>
                         <li th:if="${session.a_user!=null}"><span th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}" ><a style="color:white; text-align:center;" href="#" id='logeed_in_user_role' th:utext="${session.a_user.getRole()}">OLHS </a></span></li>

                    </ul>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/dashboard"><i class="zmdi zmdi-view-dashboard"></i><span class="list-label">Dashboard</span> </a>
                    </li>
                  <!--    <li th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}">
                <a href="/dashboard"><i class="zmdi zmdi-accounts"></i><span class="list-label">Registrants</span></a>
                <ul>
                    <li><a href="/user">REGISTRANTS</a></li>
                   
                </ul>
                </li> -->
              <!--    <li th:if=" ${session.a_user.getRole().equalsIgnoreCase('superAdmin')}">
                <a href="/dashboard"><i class="zmdi zmdi-map"></i><span class="list-label">LOCATIONS</span></a>
                <ul>
                    <li><a href="/province">PROVINCES</a></li>
                      <li><a href="/district">DISTRICTS</a></li>
                   
                </ul>
            </li> -->
                   <!--  <h3 class="menu-title">UI elements</h3> --><!-- /.menu-title -->
                 <!--    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Home</a>
                     <ul class="sub-menu children dropdown-menu">
                    <li>SUPER ADMIN</li>
                      <li>ADMIN</li>
                   <li>CUSTOMER</li>
                   <li>SELLER</li>
                   <li>BRANCH</li>
                </ul>
                    </li> -->
                    
                    <li class="menu-item-has-children dropdown">
                  
                    
                        <a href="/seller"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Add Employee</span></a>
                  
                    </li>
                    <li class="menu-item-has-children dropdown">
                  
                    
                        <a href="/branch"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Create Branch</span></a>
                  
                    </li>
                  <!--   <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li> -->
                   <!--  <li class="menu-item-has-children dropdown">
                    
                    
                     
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Making Order</span></a>
                       
                    </li> -->
                  <!--   <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"><i class="menu-icon fa fa-table"></i>Purchase</span></a>
                        
                    </li> -->
                   <!--  <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Check Branch</span></a>
                        
                    </li> -->
                   <!--  <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user')}"> <i class="menu-icon fa fa-table"></i>Payment</span></a>
                        
                    </li> -->
                    
                 <!--    <li class="menu-item-has-children dropdown">
                        <a href="/dashboard"><span class="list-label" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('user') || session.a_user.getRole().toLowerCase().equalsIgnoreCase('superAdmin') }"> <i class="menu-icon fa fa-table"></i>Report</span></a>
                        
                    </li> -->

                    <!-- <h3 class="menu-title">Icons</h3> --><!-- /.menu-title -->

                   <!--  <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        
                    </li> -->
                 <!--    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li> -->
                 <!--    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                        </ul>
                    </li> -->
<!-- 
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                        </ul>
                    </li> -->
                 <!--    <!-- <h3 class="menu-title">Extras</h3> --><!-- /.menu-title -->
                  <!--   <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                        </ul>
                    </li> --> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

       <!-- /header -->
        <div data-th-replace="Layout/Navbar :: myNavbar"></div>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
           
        </div>
        
<link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
<link href="/boot/css/bootstrap.min.css" rel="stylesheet"/>
<style>

body{
background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(5, 5, 5, 0.72)), url("/images/branch1.jpg");
background-size: cover;
}

</style>

</head>
<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/boot/js/bootstrap.min.js"></script>

<div class="row" style="margin-top: 50px; margin-left: 200px; font-size: 20px;">
<div class="col-md-10">
		  <div class="panel">
		  
		  <div class = "panel panel-default" style= "background-color: aqua;">
        
         <div class = "panel-heading"  style="background-color: blue; color: white;">
             <h1>Branch Form</h1>
         </div>
     
         <div class = "panel-body">
 <div id="register">
							
<form  id="r_form" required="required">
<div class="raw">
<div class="col-md-6">
<div class="form-group ">
<div class="col-md-6" style="margin-left: 5px;">
 <label>Branch Name</label> 
 </div>  
 <div class="col-md-6">                                        
<input type="text" name="Name" class="form-control" id="r_name" placeholder="BranchName" required="required"/>
</div>                                               

</div>                                       
 <div class="form-group ">
 <div class="col-md-6" style="margin-left: 5px;">
<label>Phone Number</label>
</div>
<div class="col-md-6">
<input type="text" name="number" class="form-control" id="r_phonenumber" placeholder="number" required="required"/>
</div>

</div>
<div class="form-group ">
<div class="col-md-6"  style="margin-left: 5px;">
<label>Email</label>
</div> 
<div class="col-md-6">
<input type="text" name="email" class="form-control" id="r_email" placeholder="email" required="required"/>
</div>
</div>
<div class="form-group ">
<div class="col-md-6" style="margin-left: 5px;">
<label>Created Date</label>
</div>
<div class="col-md-6">
<input type="date" name="r_dateofmade" class="form-control" id="r_made" placeholder="dateofmade" required="required"/>
</div>

</div>
</div>

<div class="form-group">

 <Label class="col-md-6 control-label">Province</Label>
    <select class="col-md-3 form-control" id="r_province">
    <option>--choose province--</option>
    
    </select>

</div>

<div class="form-group">
 <Label class="col-md-6 control-label">District</Label>
    <select class="col-md-3 form-control" id="r_district" >
    <option>--choose district--</option>
    
    </select>

</div>       
</div>

<div class="col-md-6" style="margin-top: 100px;">
 <div class="col-md-3">
<div class="form-actions">
<input type="button" id="r_save" class="btn btn-primary btn-default" value="submit">
                         
</div>
</div>
<div class="col-md-3">
<div class="form-actions">
<a href="loginn" class="btn btn-danger pull-left">Cancel</a>
</div>
</div>

<div class="col-md-3">
<div class="form-actions">
<a href="list" id="r_view" class="btn btn-primary">ViewList</a>

</div>
</div>
</div>
</form>
</div>
</div>
</div>    
</div>					
</div>
</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="Alert/alert.js"></script>	
		<script type="text/javascript" src="Alert/jquery.validate.js"></script>	
		<script type="text/javascript" src="js/User.js"></script>		
		
		<script>
		
		function olhs_url() {
		      var olhs_url = "http://localhost:4001";

		      return olhs_url;
		    }
		 function myfunction(){
				var x=document.getElementById("r_password");
				
				if(x.type==="password"){
					x.type="text";
				}else{
					x.type="password";
				}
			}
		
		 $(document).on('click','#r_save', function(){
			alert("saved");
			
			 var branchname= $('#r_name').val();
			 var phonenumber= $('#r_phonenumber').val();
	         var madedate= $('#r_made').val(); 
	         var email= $('#r_email').val();
	         var districtid = $('#r_district').val();
	         var provinceid = $('#r_province').val();
	         var role ='user';
			 if($("#r_form").valid()){
				 $("#r_Save").addClass('disabled');
				
				 var Branch={
						 branchname: branchname,
				         phonenumber: phonenumber,
				         madedate: madedate,
				         email: email,

				         category: $('#r_Category').val(),
				 }
				
				 console.log(Branch);
				 $.ajax({ 
				        
						headers: {
					        
		                   //'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
					      
					    },
						url:olhs_url()+'/branchs/save/'+districtid+'/'+provinceid, 
				        type : "POST", // type of action POST || GET
				        dataType : 'json', // data type
				        data : JSON.stringify(Branch), // post data || get data
				        contentType: 'application/json',
				        success : function(result, textStatus, jQxhr) {
				        	$("#r_Save").removeClass('disabled');
				        	if(result.CODE==200){
				     
				        		$.alert(result.DESCRIPTION,
										{
											type : "success",
											position : [ 'top-right',
													[ -0.42, 0 ] ],
										}); 
					        	
					        	$("#r_form").each(
										function() {
											this.reset();
										});
					        	 
					        	}else{
					        		 $.alert(result.DESCRIPTION,
											{
												type : "danger",
												position : [ 'top-right',
														[ -0.42, 0 ] ],
											}); 
					        	}
					        		
				        	

								

							},
							error: function (xhr, resp, text) {
								console.log(xhr, resp, text);
								$("#r_Save").removeClass('disabled');
								$.alert('Error Occurred' + xhr.responseText, {
									type: "danger",
									position: ['top-right',
										[-0.42, 0]
									],
								});

							}
						});

		 }
			
		 });
		 
		 var loca={};
		   $(function(){
			   locator(); 
		   })
		   
		 
		 
		   function  locator(){
			   $.ajax({
				   type:"GET",
				   url:"http://localhost:4001/locationn/locations",
				   success:function(resurt){
					   console.log(resurt);
					   loca=resurt;
					   console.log(loca);
					   ViewProvince();
				   },
				   error:function(){
					   
				   }
			   })
		   }
		   
		   function ViewProvince(){
			   $.each(loca.provinces, function(i,d){
				   $('#r_province').append($('<option>', {
					   	value: d.id,
					   	text: d.name
				   }));
			   })
		   }
		   
		   $(document).on("change", "#r_province" ,function(){
			   
			   $.each(loca.districts, function(i,d){
				  
				   if(d.province.id==$("#r_province").val()){
					   $('#r_district').append($('<option>', {
						   value:d.id,
						   text:d.name
					   }));
				   }
			   })
		   })
			
		</script>
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <div data-th-replace="/Link/Script :: myScript"></div>

</body>



</html>
