
<html>
<head>
<title><h1>Save Registrant</h1></title>
<link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link href="/boot/css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
    
    body{
    background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(5, 5, 5, 0.72)), url("/images/customer2.jpg");
    background-size: cover;
    
    }
    </style>
</head>
<body>

<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/boot/js/bootstrap.min.js"></script>

<div style="margin-left: 100px; margin-top: 70px;">

		  <div class="col-md-12">
		  <div class = "panel panel-default">
        
         <div class = "panel-heading">
             <h1>REGISTRANT SAVE</h1>
         </div>
         <div class = "panel-body" style="background-color: aqua;">
                   
							<div id="register">
							
							 
							 <form class="form-horizontal" id="r_form">
							 
						       <h2>Registrant</h2>
                              	<div class="row" style="font-size: 20px;">
					
                                    <div class="col-md-6">
                                    <div class="form-group ">
                                            <label class="col-md-4 control-label">First Name</label>
                                            <div class=" col-md-6">
                                                <input type="text" name="Name" class="form-control" id="r_fname" placeholder="Name" required="required"/>
                                                
                                            </div>
                                        </div>
                                <div class="form-group ">
                                            <label class="col-md-4 control-label">Last Name</label>
                                            <div class=" col-md-6">
                                                <input type="text" name="Name" class="form-control" id="r_lname" placeholder="Name" required="required"/>
                                                
                                            </div>
                                        </div>
                         <div class="form-group ">
                                            <label class="col-md-4 control-label">Email</label>
                                            <div class=" col-md-6">
                                                <input type="text"  class="form-control" id="r_email" placeholder="email" required="required" />
                                                
                                            </div>
                                        </div>
                              <div class="form-group ">
                                            <label class="col-md-4 control-label">Gender</label>
                                            <div class="col-md-6">
                                                <select class="form-control" required="required" id="r_gender" name="category">
                                                    <option value="MALE">MALE</option>
                                                    <option value="FEMALE">FEMALE</option>
                                                    
                                                </select>
                                            </div>
                                        </div>     
                           <div class="form-group ">
                                            <label class="col-md-4 control-label">Category</label>
                                            <div class="col-md-6">
                                                <select class="form-control" required="required" id="r_Category" name="category">
                                                    <option value="CUSTOMER">CUSTOMER</option>
                                                    <option value="Seller">Seller</option>
                                                    <option value="SuperAdministrator">SuperAdministrator</option>
                                                    <option value="Administrator">Administrator</option>
                                                    
                                                </select>
                                            </div>
                                        </div>     
                                        </div>
                                          <div class="col-md-6">
                                        <div class="form-group ">

<div class="form-group ">
 <Label class="col-md-4 control-label">Province</Label>
    <select class="col-md-6 form-control" id="r_province">
    <option>--choose province--</option>
    
    </select>
</div>

<div class="form-group ">
 <Label class="col-md-4 control-label">District</Label>
    <select class="col-md-6 form-control" id="r_district" >
    <option>--choose district--</option>
    
    </select>
</div>
                                        
                                <div class="form-group ">
                                            <label class="col-md-4 control-label">Phone Number</label>
                                            <div class=" col-md-6">
                                                <input type="tel" name="r_phone"  class="form-control" id="r_phone"  maxlength="10" placeholder="Phone" required="required"/>
                                                
                                            </div>
                                        </div>
                          <div class="form-group ">
                                            <label class="col-md-4 control-label">DateOfBirth</label>
                                            <div class=" col-md-6">
                                                <input type="date" name="r_dateofbirth" class="form-control" id="r_dateofbirth" placeholder="dateofbirth" required="required"/>
                                                
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">IdNumber</label>
                                            <div class=" col-md-6">
                                                <input type="text"  class="form-control" id="r_idnumber" placeholder="idnumber" min="16" maxlength="16" required="required"/>
                                                
                                            </div>
                                        </div>
                                        
                                       </div>
                                       <div class="form-group">
                                        <div class="col-md-6 col-md-10">
                                          
                                    <h1>SIGN IN INFO</h1>
                                   <h5>REGISTRAR ACCOUNT</h5>
                                 		<div class="form-group">
                                            <label class="col-md-3 control-label">UserName</label>
                                            <div class=" col-md-8">
                                                <input type="text" name="username" class="form-control" id="r_username" placeholder="Username" required="required"/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-3 control-label">Password</label>
                                            <div class=" col-md-8">
                                                <input type="password" name="password" class="form-control" id="r_password" placeholder="password" required="required"/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
										<div class="col-md-8">
										<label>
                                           <input id="showPassword" type="checkbox" onclick="myfunction()"/>Show Password
                                        </label>
                                          </div>
                                       </div>
                                        </div>
                                       </div>
                                        </div>
                                    
                                    
                                  
					<div class="col-md-3">						
                   <div class="form-actions">                                      
                 <input type="button" id="r_save" class="btn btn-primary" value="submit"/>
                 </div>
                 </div> 
                 
                 
                 <div class="col-md-3">  
                 <div class="form-actions">                    
                 <a href="loginn" class="btn btn-danger pull-left">Cancel</a>
                 </div>              
                 </div>                
                 </div> 
                 </div>                  
                </div>
                                        

 </form>
</div>
</div>
</div>	
</div>
</div>
					
							
					

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="Alert/alert.js"></script>	
		<script type="text/javascript" src="Alert/jquery.validate.js"></script>	
		<script type="text/javascript" src="js/User.js"></script>		
		
		<script>
		
		function olhs_url() {
		      var olhs_url = "http://localhost:4001";
		      return olhs_url;
		    }
		 function myfunction(){
				var x=document.getElementById("r_password");
				
				if(x.type==="password"){
					x.type="text";
				}else{
					x.type="password";
				}
			}
		
		 $(document).on('click','#r_save', function(){
			alert("saved");
			 var FirstName= $('#r_fname').val();
			 var LastName= $('#r_lname').val();
			 var Username= $('#r_username').val();
			 var Password= $('#r_password').val();
			 var phonenumber= $('#r_phone').val();
			 var email     = $('#r_email').val();
			 var idnumber = $('#r_idnumber').val();
	         var dateofbirth= $('#r_dateofbirth').val();
			 var role ='user';
			 if($("#r_form").valid()){
				 $("#r_Save").addClass('disabled');
				 
				 var SuperAdministrator={
						 firstname: FirstName,
				         lastname: LastName,
				         username: Username,
				         phonenumber: phonenumber,
				         dateofbirth: dateofbirth,
				         email      : email,
				         idnumber   : idnumber,
				         applicationName:'OLHS',
				         password: Password,
				         role: role,
				         category: $('#r_Category').val(),
				         provinceid: $('#r_province').val(),
				         districtid: $('#r_district').val(),
				         gender: $('#r_gender').val(),
				 }
				 console.log(SuperAdministrator);
				 $.ajax({ 
				        
						headers: {
					        
		                   //'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
					        'doneBy':Username
					    },
						url:olhs_url()+'/registrar/savewithsuperadmin', 
				        type : "POST", // type of action POST || GET
				        dataType : 'json', // data type
				        data : JSON.stringify(SuperAdministrator), // post data || get data
				        contentType: 'application/json',
				        success : function(result, textStatus, jQxhr) {
				        	$("#r_Save").removeClass('disabled');
				        	if(result.CODE==200){
				     
				        		$.alert(result.DESCRIPTION,
										{
											type : "success",
											position : [ 'top-right',
													[ -0.42, 0 ] ],
										}); 
					        	
					        	$("#r_form").each(
										function() {
											this.reset();
										});
					        	 
					        	}else{
					        		 $.alert(result.DESCRIPTION,
											{
												type : "danger",
												position : [ 'top-right',
														[ -0.42, 0 ] ],
											}); 
					        	}
					        		
				        	

								

							},
							error: function (xhr, resp, text) {
								console.log(xhr, resp, text);
								$("#r_Save").removeClass('disabled');
								$.alert('Error Occurred' + xhr.responseText, {
									type: "danger",
									position: ['top-right',
										[-0.42, 0]
									],
								});

							}
						});

				
					
				

		 }
			
		 });
		
		 var loca={};
		   $(function(){
			   locator(); 
		   })
		   
		   
		   function  locator(){
			   $.ajax({
				   type:"GET",
				   url:"http://localhost:4001/locationn/locations",
				   success:function(resurt){
					   console.log(resurt);
					   loca=resurt;
					   console.log(loca);
					   ViewProvince();
				   },
				   error:function(){
					   
				   }
			   })
		   }
		   
		   function ViewProvince(){
			   $.each(loca.provinces, function(i,d){
				   $('#r_province').append($('<option>', {
					   	value: d.id,
					   	text: d.name
				   }));
			   })
		   }
		   
		   $(document).on("change", "#r_province" ,function(){
			   
			   $.each(loca.districts, function(i,d){
				  
				   if(d.province.id==$("#r_province").val()){
					   $('#r_district').append($('<option>', {
						   value:d.id,
						   text:d.name
					   }));
				   }
			   })
		   })

		</script>
</body>
</html>